:root {
  --cm-backgroundColor: var(--editor-backgroundColor, hsl(var(--card)));
  --cm-textColor: var(--editor-textColor, hsl(var(--foreground)));

  /* Gutter */

  --cm-gutter-backgroundColor: var(--editor-gutter-backgroundColor, var(--cm-backgroundColor));
  --cm-gutter-textColor: var(--editor-gutter-textColor, hsl(var(--muted-foreground)));
  --cm-gutter-activeLineTextColor: var(--editor-gutter-activeLineTextColor, var(--cm-gutter-textColor));

  /* Fold Gutter */

  --cm-foldGutter-textColor: var(--editor-foldGutter-textColor, var(--cm-gutter-textColor));
  --cm-foldGutter-textColorHover: var(--editor-foldGutter-textColorHover, var(--cm-gutter-textColor));

  /* Active Line */

  --cm-activeLineBackgroundColor: var(--editor-activeLineBackgroundColor, rgb(224 231 235 / 30%));

  /* Cursor */

  --cm-cursor-width: 2px;
  --cm-cursor-backgroundColor: var(--editor-cursorColor, hsl(var(--muted-foreground)));

  /* Matching Brackets */

  --cm-matching-bracket: var(--editor-matchingBracketBackgroundColor, rgb(50 140 130 / 0.3));

  /* Selection */

  --cm-selection-backgroundColorFocused: var(--editor-selection-backgroundColor, #42b4ff);
  --cm-selection-backgroundOpacityFocused: var(--editor-selection-backgroundOpacity, 0.3);
  --cm-selection-backgroundColorBlured: var(--editor-selection-inactiveBackgroundColor, #c9e9ff);
  --cm-selection-backgroundOpacityBlured: var(--editor-selection-inactiveBackgroundOpacity, 0.3);

  /* Panels */

  --cm-panels-borderColor: var(--editor-panels-borderColor, hsl(var(--border)));

  /* Search */

  --cm-search-backgroundColor: var(--editor-search-backgroundColor, var(--cm-backgroundColor));
  --cm-search-textColor: var(--editor-search-textColor, hsl(var(--muted-foreground)));
  --cm-search-closeButton-backgroundColor: var(--editor-search-closeButton-backgroundColor, transparent);

  --cm-search-closeButton-backgroundColorHover: var(
    --editor-search-closeButton-backgroundColorHover,
    hsl(var(--accent))
  );

  --cm-search-closeButton-textColor: var(
    --editor-search-closeButton-textColor,
    hsl(var(--muted-foreground))
  );

  --cm-search-closeButton-textColorHover: var(
    --editor-search-closeButton-textColorHover,
    hsl(var(--foreground))
  );

  --cm-search-button-backgroundColor: var(
    --editor-search-button-backgroundColor,
    hsl(var(--muted))
  );

  --cm-search-button-backgroundColorHover: var(
    --editor-search-button-backgroundColorHover,
    hsl(var(--accent))
  );

  --cm-search-button-textColor: var(--editor-search-button-textColor, hsl(var(--muted-foreground)));

  --cm-search-button-textColorHover: var(
    --editor-search-button-textColorHover,
    hsl(var(--foreground))
  );

  --cm-search-button-borderColor: var(--editor-search-button-borderColor, transparent);
  --cm-search-button-borderColorHover: var(--editor-search-button-borderColorHover, transparent);

  --cm-search-button-borderColorFocused: var(
    --editor-search-button-borderColorFocused,
    hsl(var(--ring))
  );

  --cm-search-input-backgroundColor: var(--editor-search-input-backgroundColor, transparent);
  --cm-search-input-textColor: var(--editor-search-input-textColor, hsl(var(--foreground)));
  --cm-search-input-borderColor: var(--editor-search-input-borderColor, hsl(var(--border)));

  --cm-search-input-borderColorFocused: var(
    --editor-search-input-borderColorFocused,
    hsl(var(--ring))
  );

  /* Tooltip */

  --cm-tooltip-backgroundColor: var(--editor-tooltip-backgroundColor, var(--cm-backgroundColor));
  --cm-tooltip-textColor: var(--editor-tooltip-textColor, hsl(var(--foreground)));

  --cm-tooltip-backgroundColorSelected: var(
    --editor-tooltip-backgroundColorSelected,
    theme('colors.alpha.customAccent.30')
  );

  --cm-tooltip-textColorSelected: var(
    --editor-tooltip-textColorSelected,
    hsl(var(--foreground))
  );

  --cm-tooltip-borderColor: var(--editor-tooltip-borderColor, hsl(var(--border)));

  --cm-searchMatch-backgroundColor: var(--editor-searchMatch-backgroundColor, rgba(234, 92, 0, 0.33));
}

html[data-theme='light'] {
  --editor-gutter-textColor: #237893;
  --editor-gutter-activeLineTextColor: hsl(var(--foreground));
  --editor-foldGutter-textColorHover: hsl(var(--foreground));
  --editor-activeLineBackgroundColor: rgb(50 53 63 / 5%);
  --editor-tooltip-backgroundColorSelected: theme('colors.alpha.customAccent.20');
  --editor-search-button-backgroundColor: theme('colors.gray.100');
  --editor-search-button-backgroundColorHover: theme('colors.alpha.gray.10');
}

html[data-theme='dark'] {
  --cm-backgroundColor: hsl(var(--muted));
  --editor-gutter-textColor: hsl(var(--muted-foreground) / 0.7);
  --editor-gutter-activeLineTextColor: hsl(var(--muted-foreground));
  --editor-selection-inactiveBackgroundOpacity: 0.3;
  --editor-activeLineBackgroundColor: rgb(50 53 63 / 50%);
  --editor-foldGutter-textColorHover: hsl(var(--foreground));
  --editor-matchingBracketBackgroundColor: rgba(66, 180, 255, 0.3);
  --editor-search-button-backgroundColor: theme('colors.gray.800');
  --editor-search-button-backgroundColorHover: theme('colors.alpha.white.10');
}
