.Toastify__toast {
  --at-apply: shadow-md;

  background-color: hsl(var(--muted));
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--border));
}

.Toastify__close-button {
  color: hsl(var(--muted-foreground));
  opacity: 1;
  transition: none;

  &:hover {
    color: hsl(var(--foreground));
  }
}
